$shade: #aaa;

html {
  font-size: calc(12px + 1vw);
}

@keyframes colorchange {
  0% {
    background: red;
  }
  25% {
    background: yellow;
  }
  50% {
    background: blue;
  }
  75% {
    background: green;
  }
  100% {
    background: red;
  }
}

body {
  animation: colorchange 20s;
  animation-iteration-count: infinite;
  min-width: 400px;
}

body, button, input {
  font-family: 'Press Start 2P', cursive;
}

#root {
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
  padding: 1rem;
  margin: 0;
}

.config {
  margin: 1rem 0;

  .group {
    display: flex;
    padding-left: 0.5rem;
    background-color: rgba($shade, 0.2);

    &:nth-child(odd) {
      background-color: rgba($shade, 0.3);
    }

    label {
      width: 10rem;
      font-size: 0.8rem;
      line-height: 2rem;
    }

    input {
      display: block;
      width: 100%;
      padding: 0 0.5rem;
      border: 0;
      font-size: 0.8rem;
      line-height: 2rem;
      background: rgba($shade, 0.5);
      outline: none;

      &:hover {
        background: rgba($shade, 0.8);
      }

      &:focus {
        background-color: white;
      }
    }
  }
}

.actions {
  position: fixed;
  width: 100%;
  max-width: 800px;
  bottom: 1rem;
  display: flex;
  justify-content: space-between;

  button {
    border: none;
    padding: 1rem;
    background: rgba(black, 0.5);
    color: white;
    font-size: 0.8rem;
    cursor: pointer;

    &:disabled {
      opacity: 0.5;
    }
  }

  button + button {
    margin-left: 1rem;
  }
}

.timer {
  margin-bottom: 1rem;

  & > div {
    position: relative;
    text-align: center;
    background-color: rgba($shade, 0.2);
    padding: 1rem;

    &.action {
      font-size: 2rem;
    }

    &.time {
      font-size: 2.5rem;
    }

    &:nth-child(odd) {
      background-color: rgba($shade, 0.3);
    }

    .label {
      font-size: 0.7rem;
      opacity: 0.5;
      position: absolute;
      top: 0.25rem;
      left: 0.25rem;
    }
  }
}